---
// Código Server Side Only - Momento de construcción BUILD TIME
import MainLayout from "../layouts/MainLayout.astro";
import type { PokemonListResponse } from "../interfaces/pokemon-list.response";

const resp = await fetch("https://pokeapi.co/api/v2/pokemon");
const data = (await resp.json()) as PokemonListResponse;
const title = "Pokédex | Home";
---

<MainLayout title={title}>
	<h1 class="text-3xl">Listado de pokémons</h1>
	<hr />
	<ul>
		{data.results.map((pokemon) => <li>{pokemon.name}</li>)}
	</ul>
</MainLayout>
