---
import Title from "@components/shared/Title.astro";
import MainLayout from "@layouts/MainLayout.astro";
import { FavoritePokemons } from "@components/pokemons/FavoritePokemons.tsx";
---

<MainLayout title="Favoritos">
    <Title>Favoritos</Title>
    <FavoritePokemons client:only="solid-js" />
</MainLayout>
